body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/****************** HEADER**/
.webi {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
}

.studio {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.nav:hover,
.nav:focus {
    color: #404BBF
}

.adrs-section {
    font-style: normal;
    margin-left: auto;
}

.adrs {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.adrs:hover,
.adrs:focus {
    color: #404BBF
}

/* **********MAIN*********** */
.sctn-main {
    background: #2E2F42;
    padding: 188px 0;

}

.section-one {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;

}

.btn {
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin: 48px auto 0;

}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.sctn-abil {
    padding: 120px 0;
}

.features-titles {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.p-content {
    color: #434455;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.section-team {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.list-item:last-child {
    margin-right: 0;
}

.team-container {
    padding: 32px 0;
}

.team-names {
    color: #2E2F42;
    text-align: center;
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
}

.team-p {
    color: #434455;
    text-align: center;

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.section-portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-li {
    width: calc((100% - 48px) / 3);
}

.port-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.port-li:nth-child(-n+3) {
    margin-bottom: 0;
}

.port-li:nth-child(3n) {
    margin-right: 0;
}



.portfolio-header {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.p-portfolio {
    color: #434455;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

/* ********FOOTER******** */
.footer-back-color {
    background: #2E2F42;
    padding: 100px 0;
}

.web {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-p {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.studio-footer {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* ***************HW   3*************************** */
.section {
    padding: 120px 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;

}

.header-elements {
    display: flex;
    align-items: center;
}

.container {
    padding: 0 15px;
    width: 1158px;
    margin: 0 auto;

}

.navigation {
    display: flex;
    align-items: center;
}

.menu-header {
    display: flex;
    gap: 40px;
}

.nav {
    padding: 24px 0;
    display: block;
}

.nav:last-child {
    margin-right: 0;
}

.adrs-menu {
    display: flex;
    gap: 40px
}

.adrs:last-child {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu-features {
    display: flex;
    gap: 24px;
    margin-right: 0;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-item:last-child {
    margin-right: 0;
}